.form {
    padding: 15px;
}
.textArea {
    border: 2px solid black;
    height: 150px;
    width: 90%;
    padding: 20px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;

}

.textArea::placeholder {
    position: relative;
    left: 20px;
    width: 240px;
    top: 40%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 17px;
}
.textArea:focus {
    outline-color: #000000;
}

.buttonsContainer {
    position: relative;    
    display: flex;
    justify-content: center;
    top: 20px;
    margin-bottom: 200px;
    width: 100%;
    height: 50px;
}

.buttonsContainer button {
    cursor: pointer;
    height: 60px;
    width: 190px;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
}

.buttonsContainer button:active {
    transform: scale(1.2);
    transition: transform 400ms;
}


@media (min-width:1000px) {
    .textArea {
        position: fixed;
        left: 5%;
        width: 35%;
        top: 200px;
        height: 100px;
   }
   .buttonsContainer{
    position: fixed;
    top: 350px;
    right: 25.5%;
   }
   .buttonsContainer button {
     margin: 10px;
     border-radius: 70px;
   }

}