.TodoItem-Div {
    display: flex;
    position: relative;
    align-items:center ;
    flex-direction: column;
    overflow: hidden;
    margin: 17px;
    top: -40px;
    padding: 10px;
    height: 130px;
    border: 2px solid  rgb(42, 42, 42);
}

.TodoItem-Div:hover {
  transform: scale(1.1);
  transition: transform 100ms;
}

.TodoItem-Div p{ 
    position: relative;
    font-size: 20px;
    top: -30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
img {
  width: 30px;
}
.delete{
    position: relative;
    top: -20px;
    left: 45%;
    cursor: pointer;
}
.check{
    position: relative;
    top: 5px;
    right: 45%;
    cursor: pointer;
}

.todoText {
  color: black;
}


@media (min-width: 1000px) {
  .TodoItem-Div {
    position: relative;
    width: 42%;
    left: 49%;
    top: -370px;
    }
}