.TodoSearch {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    top: 40px;
    margin: 17px;
    padding: 10px;
    height: 130px;
}

.TodoSearch input:disabled {
    opacity: 25%;
}

.TodoSearch input{
    position: absolute;
    width: 85%;
    height: 30px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
    background: #F9FBFC;
}

.TodoSearch input::placeholder {
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.TodoSearch input:hover {
    outline-color: #88aaffd7;
  }

.TodoSearch button {
    position: relative;
    height: 58px;
    width: 60px;
    align-self: flex-end;
    top: -2px;
    border: 2px solid black;
    border-radius: 15px;
}

.TodoSearch button:active{
    background-color: rgb(122, 122, 122);
} 

@media (min-width: 1000px) {
    .TodoSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    position: relative;
    top: -320px;
   }
  
    .TodoSearch input {
        position: relative;
        width: 40%;
        left: 20%;
    }

    .TodoSearch button {
        position: relative;
        top: -56px;
        right: 20px;
    }
}