.TodoSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.TodoSearch input:disabled {
    opacity: 25%;
}

.TodoSearch input{
    position: absolute;
    width: 80%;
    height: 30px;
    padding: 10px;
    font-weight: 400;
    background: #F9FBFC;
    font-size: 18px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    cursor: pointer;
}

.TodoSearch input::placeholder {
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.TodoSearch input:hover {
    outline-color: #88aaffd7;
  }

.TodoSearch button {
    position: relative;
    height: 58px;
    width: 60px;
    align-self: flex-end;
    top: -2px;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 15px;
}

.TodoSearch button:active{
    background-color: rgb(122, 122, 122);
} 

@media (min-width: 1000px) {
    .TodoSearch {
        position: relative;
        top: -140px;
    }
    .TodoSearch input {
        position: relative;
        width: 40%;
        left: 20%;
    }

    .TodoSearch button {
        position: relative;
        top: -56px;
        right: 20px;
    }
}