.newTodoIcon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.newTodoIcon button {
    position: relative;
    left: 34%;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    z-index: 1;
    cursor: pointer;
}

.newTodoIcon button p {
    font-size: 20px;
}

.newTodoIcon button:active{
    transform: scale(1.2);
    transition: transform 500ms;
}
.newTodoIcon button:hover {
    transform: scale(1.2);
    transition: transform 200ms;
    border:2px solid #88aaffd7;
}
.inactive {
    opacity: 25%;
}

@media (min-width: 1000px) {
    .newTodoIcon {
        position: fixed;
        right: 42%;
        top: -80px;
    }

    .newTodoIcon button {
        top: 130px;
    }
}