.EmptyTodos {
    position: relative;
    color: black;
    text-align:center;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

@media (min-width: 1000px) {
    .EmptyTodos {
        text-align:right;
        right: 16%;
        top: 10px;
    } 
}