body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #121f3d;
}

footer {
    position: relative;
    height: 50px;
    top: 100px;
    background-color: rgb(66, 255, 66);
}

footer p {
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    top: 15px;
}