.TodoItem-Div {
    position: relative;
    top: 50px;
    display: flex;
    padding: 10px;
    word-wrap: break-word;
    align-items:center ;
    flex-direction: column;
    height: 150px;
    background-color: white;
    margin: 15px;
}

.TodoItem-Div p{ 
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.delete{
    position: relative;
    top: -20px;
    left: 45%;
    cursor: pointer;
}
.check{
    position: relative;
    top: 5px;
    right: 45%;
    cursor: pointer;
}

.todoText {
  top: -10px;
  max-width: 300px;
  color: black;
}


