.TodoSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.TodoSearch input{
    position: absolute;
    width: 80%;
    height: 30px;
    padding: 10px;
    border-radius: 15px;
    font-weight: 400;
    background: #F9FBFC;
    font-size: 18px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.TodoSearch input::placeholder {
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.TodoSearch input:focus {
    outline-color: #00ff3c;
  }

.TodoSearch button {
    position: relative;
    height: 58px;
    width: 60px;
    align-self: flex-end;
    top: -2px;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 15px;
}

.TodoSearch button:active{
    background-color: rgb(122, 122, 122);
} 